  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="src/app/customer/customer.component.css">
      <link src="src/app/customer/myscript.js" type="text/javascript"> 
      <link src="src/app/add-customer/validate.js" type = "text/javascript">
  </head>
  <body>
    <h3 align="center">All Customers</h3>
      <table id="myTable" border="1" cellpadding="10" align="center">
        <tr class="header">
          <th><uitk-input tkId="idsearch" onkeyup ="myFunction()" tkPlaceholder="search by id" title="Type in id" tkType="text"></uitk-input></th>
          <th><uitk-input tkId="fnamesearch" onkeyup ="myFunction1()" tkPlaceholder="search by first name" title="Type in first name" tkType="text"></uitk-input></th>
          <th><uitk-input tkId="lnamesearch" onkeyup ="myFunction2()" tkPlaceholder="search by last name" title="Type in last name" tkType="text"></uitk-input></th>
          <th><uitk-icon-font icon="cux-icon-search" hiddenText="search"></uitk-icon-font></th>
        </tr>
        <tr class="header">
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Operation</th>
        </tr>
        <tr class="header" *ngFor="let cust of customers">
          <td>{{cust.id}}</td>
          <td>{{ cust.firstname }}</td>
          <td>{{ cust.lastname }}</td> 
          <td><a [routerLink]="['/customers', cust.id]" style="color:black"><uitk-button value="Edit"></uitk-button></a></td>
        </tr>
      </table> 
     <!-- <div align="center">
        <a onclick="goBack()"><p>Clear Filter</p></a>
      </div> -->
    </body>